<!--==================== FOOTER ====================-->
<div class="footer ">
    <div class="grid container">
        <section class="footer-section">
            <div class="footer-logos">
                <img src="./assets/img/footer/logo.svg" alt="Logo" class="footer__logo">
                <p class="footer-copyright">Copyright © 2021</p>
            </div>
            <div class="footer-socials">
                <div class="footer-social-circle">
                    <img src="./assets/icons/twitter.svg" alt="Twitter">
                </div>
                <div class="footer-social-circle">
                    <img src="./assets/icons/instagram.svg" alt="Instagram">
                </div>
                <div class="footer-social-circle">
                    <img src="./assets/icons/youtube.svg" alt="Youtube">
                </div>
            </div>
        </section>
        <section class="footer-section">

            <ul class="footer-links grid">

                <h2 class="title">Empresa</h2>

                <li>
                    <a href="#portfolio" class="footer-link">Sobre nosotros</a>
                </li>
                <li>
                    <a href="#contact" class="footer-link">Empresas asociadas</a>
                </li>
                <li>
                    <a href="#contact" class="footer-link">Comisiones</a>
                </li>
                <li>
                    <a href="#contact" class="footer-link">Fundadores</a>
                </li>
                <li>
                    <a href="#contact" class="footer__link">Contacto</a>
                </li>

            </ul>
        </section>

        <section class="footer-section ">

            <ul class="footer-links grid">

                <h2 class="title">Soporte</h2>

                <li>
                    <a href="#portfolio" class="footer-link">Atención al cliente</a>
                </li>
                <li>
                    <a href="#contact" class="footer-link">Terminos y condiciones</a>
                </li>
                <li>
                    <a href="#contact" class="footer-link">Legal</a>
                </li>
                <li>
                    <a href="#contact" class="footer-link">Politicas de privacidad</a>
                </li>
            </ul>
        </section>
        <section class="footer-section section-email">
            <div class="footer-email">
                <h2 class="title">Suscribite al newsletter</h2>
                <input type="text" placeholder="Deja aquí tu mail" class="input-control footer-email-input">
            </div>
        </section>
    </div>
</div>
